:root{
    --textcolor: #FCFCFCff; /*$white: rgba(252, 252, 252, 1);*/
    --maincolor: #F28744ff;
    --black: rgba(0, 0, 0, 0.9);
    --pumpkin: #F28744ff; /* $pumpkin: rgba(242, 135, 68, 1); */
    --teal: #2A827Fff; /*$teal: rgba(42, 130, 127, 1);*/
    --champagne-pink: #E0D1CAff; /* $champagne-pink: rgba(224, 209, 202, 1); */
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    background: url('../img/fundo.jpg');
    color: var(--textcolor)
}
.apresentation{
    height: 600px;
    background-color: var(--black)
}
.textspace{
    opacity: 1.0;
}
.titleapresentation h1{
    font-size:100px;
    margin-bottom: 0px;
    line-height: 1.1;
    max-height: 25px;
}
.titleapresentation p{
    font-size:35px;
    margin-bottom: 0px;
    margin-top: 22%;
    line-height: 1.1;
    max-height: 25px;
}
.myicons{
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 724px;
}
.myicons img{
    height: 50px !important;
}
.titleapresentation .name{
    color: var(--maincolor);
}
.profileconteiner{
    height: 600px;
}
.profileimg{
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
}
.profileimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.circulo-pontilhado{
  position: absolute;
  top: 40px;
  left: 55px;
  right: 55px;
  bottom: 40px;
  border: 5px dotted var(--maincolor);
  border-radius: 50%;
}
@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 2.5s infinite;
}
.iam{
    max-height: 50px;
    background: none;
    padding: 0 20px 0 20px;
    color: var(--textcolor);
    border: 4px solid var(--maincolor);
    transition: all 0.3s;
}
.iam:hover{
    background-color: var(--maincolor);
    border-color: var(--background-main-color);
    transform: scale(1.05);
}
.nextapresentation{
    height: 400px;
    background-color: var(--black);
    margin-top: 1.5em;
}
.textapresentation{
    margin: 40px 0px 0px 60px;
}
.myname{
    color: var(--pumpkin);
}
.textapresentation .text{
    padding-left: 3%;
    font-size: 18px;
    text-align: justify;
    padding-top: 0;
}
.box-nextapresentation{
    margin-left: auto;
    width: 90%;
    display: block;
}
.owl-carousel{
    padding-top: 30px;
}