:root{
    --textcolor: rgb(253, 250, 250);
    --maincolor: rgb(100, 100, 210);
    --background-main-color: #e7ffff;
    --background-secunday-color: rgba(0, 0, 0, 0.8);
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    background-color: var(--background-main-color);
}
.apresentation{
    height: 600px;
    background-color: var(--background-secunday-color)
}
.textspace{
    opacity: 1.0;
    color: var(--textcolor)
}
.titleapresentation h1{
    font-size:100px;
    margin-bottom: 0px;
    line-height: 1.1;
    max-height: 25px;
}
.titleapresentation p{
    font-size:35px;
    margin-bottom: 0px;
    margin-top: 22%;
    line-height: 1.1;
    max-height: 25px;
}
.myicons{
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 724px;
}
.myicons img{
    height: 50px !important;
}
.titleapresentation .name{
    color: var(--maincolor);
}
.profileconteiner{
    height: 600px;
}
.profileimg{
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
}
.profileimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.circulo-pontilhado{
  position: absolute;
  top: 40px;
  left: 55px;
  right: 55px;
  bottom: 40px;
  border: 5px dotted var(--maincolor);
  border-radius: 50%;
}
@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 2.5s infinite;
}
.iam{
    max-height: 50px;
    background: none;
    padding: 0 20px 0 20px;
    color: var(--textcolor);
    border: 4px solid var(--maincolor);
    transition: all 0.3s;
}
.iam:hover{
    background-color: var(--maincolor);
    border-color: var(--background-main-color);
    transform: scale(1.05);
}